.about {
  & p {
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 300;
    margin: -4.5rem 0 4rem 0;
  }
  &__section-about {
    margin-bottom: 2rem;
  }
  &__section-skills {
    &-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 1rem 0 0 -0.1rem;
    }
    &-heading {
      font-size: 1.5rem;
      font-weight: 500;
      color: white;
    }
    &-skill {
      color: white;
      font-weight: 300;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem 0.5rem 0;
      border-radius: 5px;
      letter-spacing: 1px;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
}
