@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: "League Spartan", sans-serif;
  background-color: #111;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

.container {
  max-width: 950px;
  margin: 10rem auto;
  padding: 2rem 2.5rem;
}
.heading {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8rem;
}
.line {
  height: 3px;
  width: 100px;
  position: absolute;
  background-image: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 153, 1) 100%
  );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-image {
  animation: fadeIn 2s;
}
.mobile {
  display: none;
}

@media screen and (min-width: 1089px) {
  html {
    min-width: 1089px;
  }
}
@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .mobile {
    display: block;
  }
}
