.contact {
  position: relative;
  max-width: 650px;
  border-radius: 5px;
  padding: 3rem;

  &__heading {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  & p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  &__btns {
    display: flex;
    gap: 0.2rem;
  }
  &__btn {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(211, 211, 211, 0.204);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    &:hover {
      border: 1px solid rgb(211, 211, 211);
      cursor: pointer;
    }

    & span {
      color: lightgrey;
      margin-top: 0.3rem;
    }
  }
}
