.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  &__lightmode {
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    z-index: 99;
    color: rgb(172, 172, 172);
    font-size: 1.1rem;
    background-color: #111;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-shadow: rgba(39, 222, 174, 0.4) 0px 5px,
      rgba(39, 222, 174, 0.3) 0px 10px, rgba(39, 222, 174, 0.2) 0px 15px,
      rgba(39, 222, 174, 0.1) 0px 20px, rgba(39, 222, 174, 0.05) 0px 25px;
    transition: all 0.3s;

    &:nth-child(1) {
      border-left: 2px solid rgb(36, 206, 186);
      border-top: 2px solid rgb(36, 206, 186);
      border-radius: 50px 0 0 50px;
    }
    &:nth-child(2) {
      border-top: 2px solid rgb(36, 206, 186);
      border-radius: 0px;
    }
    &:nth-child(3) {
      border-right: 2px solid rgb(36, 206, 186);
      border-top: 2px solid rgb(36, 206, 186);
      border-radius: 0 50px 50px 0;
    }
    &:hover {
      color: white;
    }
  }
  &__name {
    font-size: 1.8rem;
    font-weight: 800;
    background: rgb(34, 193, 195);
    animation: inAnimation 250ms ease-in;
    background-image: linear-gradient(
      90deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(45, 253, 153, 1) 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    &-link {
      text-decoration: none;
      color: white;
    }
  }
  &__social-link {
    color: rgb(172, 172, 172);
    transition: all 0.3s;
    &:hover {
      color: white;
      fill: linear-gradient(
        90deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(45, 253, 153, 1) 100%
      );
    }
    &-linkedin {
      margin: 0.3rem 0.5rem 0 0;
    }
  }
}
.nav-social-links {
  position: absolute;
  bottom: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__line {
    height: 3rem;
    width: 1px;
    background-color: #444;
    margin: 1rem 1.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-image {
  animation: fadeIn 5s;
}
