.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  z-index: 999;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: black;

  &__link {
    z-index: 99;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 1rem;
    transition: text-decoration 0.3s;
    font-weight: 400;

    &:nth-child(1) {
      padding-left: 2rem;
      border-radius: 10px 0 0 10px;
    }
    &:nth-child(2) {
      border-radius: 0px;
    }
    &:nth-child(3) {
      border-radius: 0 10px 10px 0;
      padding-right: 2rem;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__name {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 700;
    color: black;

    &-link {
      text-decoration: none;
      color: white;
    }
  }
  &__social-link {
    color: darkgray;
    transition: all 0.3s;
    &:hover {
      color: black;
      fill: linear-gradient(
        90deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(45, 253, 153, 1) 100%
      );
    }
    &-linkedin {
      margin: 0.3rem 0.5rem 0 0;
    }
  }
}
.nav-social-links {
  position: fixed;
  bottom: 2rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
  &__line {
    height: 3rem;
    width: 1px;
    background-color: #444;
    margin: 1rem 1.2rem;
  }
}
.nav-mobile {
  display: none;
}

@media screen and (max-width: 1089px) {
  .nav {
    display: none;
  }
  .nav-social-links {
    display: none;
  }
  .nav-mobile {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    width: 100%;
    padding: 1.5rem 0.5rem;
    z-index: 999;

    &__link {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-image {
  animation: fadeIn 5s;
}
