@media screen and (min-width: 500px) {
  .projects {
    &__section-project {
      position: relative;
      &-title {
        color: #111;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 4rem;
        &-reverse {
          text-align: right;
          color: #111;
          font-size: 1.8rem;
          font-weight: 500;
          margin-top: 4rem;
        }
      }
      &-desc {
        background-color: white;
        padding: 1.5rem;
        border-radius: 5px;
        max-width: 50%;
        min-width: 435px;
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &-reverse {
          background-color: white;
          padding: 1.5rem;
          border-radius: 5px;
          max-width: 50%;
          min-width: 435px;
          margin: 1rem 0 1rem auto;
          font-size: 1.2rem;
          line-height: 1.2;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
      &-image {
        position: absolute;
        border-radius: 10px;
        min-width: 35rem;
        max-width: 10rem;
        opacity: 95%;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        right: 0;
        top: -2rem;
        &-reverse {
          position: absolute;
          border-radius: 10px;
          min-width: 35rem;
          max-width: 10rem;
          opacity: 70%;
          z-index: -1;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          left: 0;
          top: -3.5rem;
        }
      }
      &-tech {
        display: flex;
        list-style: none;
        color: #111;
        font-weight: 300;
        margin: 0.5rem 0.8rem 0 0;
        &-reverse {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          list-style: none;
          color: #111;
          font-weight: 300;
          margin: 0rem 0 0 0.8rem;
        }
      }
      &-links {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        &-reverse {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
          justify-content: flex-end;
          & a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            color: #111;
            border-radius: 5px;
            font-weight: 300;
            text-decoration: none;
            border: 1px solid darkgray;
            padding: 0.3rem 1rem;
            &:hover {
              border: 1px solid #111;
              cursor: pointer;
            }
          }
        }
      }
      &-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        color: #111;
        border-radius: 5px;
        font-weight: 300;
        text-decoration: none;
        border: 1px solid darkgray;
        padding: 0.3rem 1rem;
        &:hover {
          border: 1px solid #111;
        }
      }
      &-links p {
        margin-top: 0.2rem;
      }
      &-links-reverse p {
        margin-top: 0.2rem;
      }
    }
  }
  .mobile-img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .projects {
    &__heading {
      margin-bottom: 4rem;
    }
    &__section-project {
      padding: 0;
      position: relative;
      &:nth-of-type(2) {
        text-align: right;
        padding: 0 0 2rem 0;
      }
      &:nth-of-type(4) {
        text-align: right;
        // padding: 2rem 0 2rem 0;
      }

      &-title {
        color: #111;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 3rem;

        &-reverse {
          color: #111;
          font-size: 1.8rem;
          font-weight: 500;
          margin-top: 3rem;
        }
      }
      &-desc {
        background-color: white;
        padding: 1.5rem;
        border-radius: 5px;
        margin-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.2;
        z-index: 999;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        & img {
          border-radius: 5px;
        }

        &-reverse {
          background-color: white;
          padding: 1.5rem;
          border-radius: 5px;
          margin: 1rem 0 1rem auto;

          font-size: 1.3rem;
          line-height: 1.2;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
      &-image {
        display: none;
        &-reverse {
          display: none;
        }
      }
      &-tech {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        color: #111;
        font-weight: 300;
        font-size: 0.97rem;
        margin: 0.5rem 1rem 0 0;
        &-reverse {
          display: flex;
          justify-content: flex-end;
          list-style: none;
          color: #111;
          font-weight: 300;
          font-size: 0.97rem;
          margin: 0rem 0 0 1rem;
          padding: 0;
        }
      }
      &-links {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        &-reverse {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;
          justify-content: flex-end;
          & a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            color: #111;
            border-radius: 5px;
            font-weight: 300;
            text-decoration: none;
            border: 1px solid darkgray;
            padding: 0.3rem 1rem;
            &:hover {
              border: 1px solid #111;
              cursor: pointer;
            }
          }
        }
      }
      &-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        color: #111;
        border-radius: 5px;
        font-weight: 300;
        text-decoration: none;
        border: 1px solid darkgray;
        padding: 0.3rem 1rem;
        &:hover {
          border: 1px solid #111;
        }
      }
      &-links p {
        margin-top: 0.2rem;
      }
      &-links-reverse p {
        margin-top: 0.2rem;
      }
    }
  }
  .mobile-img {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .projects {
    &__section-project {
      margin: 10rem 0;
    }
  }
}
